.bgLandingRight{
    background-image: url("../../public/img/piazzaTroina.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.suggestion:hover{
    background-color: rgba(85, 121, 134, 0.7);
    
}

.bgLanding{
    background-image: url("../../public/img/bgLanding.svg");
    background-size: cover;
    background-repeat: no-repeat;
}