@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blu-troina: #13637E;
  --grigio-troina: #313131;
  --bianco-troina: #E6E4D9;
  --giallo-troina: #F5A400;
  --arancione-troina: #F55400;
  --bordeaux-troina: #591F00;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--bianco-troina);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: var(--blu-troina);
}
